

{% extends 'base.html' %}

{% block content %}

<form action="{{ url_for('index') }}" method="POST">
	<div class="form-group">
		<label for="exampleInputLender">Кредитор</label>
		<input type="text" class="form-control" id="exampleInputLender" placeholder="Имя" name="lender" value="{{ request.form.get('lender', '') }}">

	</div>

	<div class="form-group">
		<label for="exampleInputAmount">Сумма</label>
		<input type="text" class="form-control" id="exampleInputAmount" placeholder="Сумма" name="amount" value="{{ request.form.get('amount', '') }}">
	</div>

	<div class="form-group">
		<label for="exampleInputBorrower">Зааёмщик</label>
		<input type="text" class="form-control" id="exampleInputBorrower" placeholder="Имя" name='borrower' value="{{ request.form.get('borrower', '')}}">
	</div>


	<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %} 

{% block checking %}

	{% for res in results %}
		<div class="result" >

			block {{ res['block'] }} : {{ res['result'] }}

		</div>
	{% endfor %}

{% endblock %}